
<div class="footer">
  <p style="text-align:center;" class="footer-links> 
  <a href="#"></a> 
    <a href="mailto:unnatidave11@gmail.com">
        <img src="/images/maillogo.png" class="box"/> 
    </a>
    <a href="https://github.com/UNNATIDAVE" target= "_blank" >
        <img src="/images/github.png" class="box"/>  
    </a>
    <a href="https://www.linkedin.com/in/unnati-dave-69b74787/" target="_blank" >
        <img src="/images/linkedin-icon.png" class="box"/>
    </a>
  </p>
  <p style="text-align:center;">Copyright &copy E-commerce API by unnatidave</p>
</div>

<!-- js files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/socket.io-1.7.3.js"></script>

