<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Simple Chat App</title>
<meta name="description" content="Simple Chat App created using Node.js, ExpressJs, MongoDb and Socket.io">
<meta name="keywords" content="Node.js, ExpressJs, MongoDb, Socket.io, chat app, simple chat">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/elegant-icons-style.css">
