<!DOCTYPE html>
<html lang="en">
	<head>
	  <% include ./head.ejs %>
	</head>
	<body>
	  <% include ./header.ejs %>
	  <main>
	    <h2> Notifications </h2><hr>
	    <p> <%= msg %> </p><br>
	    <p> <%= status %> </p><br>
	    <p> <%= error %> </p><br>
	  </main>
	  <% include ./footer.ejs %>
	</body>
</html>
